<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- Override LOG PATTERN from defaults.xml -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss} [%15.15t{14}] %cyan(%-40.40logger{39}) [%highlight(%-5level)] %m%n%wex"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>